{% extends "layout.html" %}
 
{% block title %}Show Page!{% endblock %}
 
{% block content %}
  <p>{{doc.body|marked}}</p>
  <form method="post" action="/wiki/pageAction">
  	<input type="hidden" name="page_id" value="{{doc.id}}">
  	<ul class="button_list">
  		<li>
		  	<input type="submit" name="submit" value="Edit" class="btn btn-warning">
	  	</li>
	  	<li>
	  		<input type="submit" name="submit" value="Delete" class="btn btn-danger">
	  	</li>
	  </ul>
    {% if multiple %}
      <p><a href="/list/{{doc.id}}">See Revision History</a></p>
    {% endif %}
  </form>
{% endblock %}