{% extends "layout.html" %}
 
{% block title %}Show Page!{% endblock %}
 
{% block content %}
  <p>{{docs.body|marked}}</p>
  <form method="post" action="/wiki/pageAction">
  	<input type="hidden" name="url_name" value="{{docs.url_name}}">
  	<ul class="button_list">
  		<li>
		  	<input type="submit" name="submit" value="Edit" class="btn btn-warning">
	  	</li>
	  	<li>
	  		<input type="submit" name="submit" value="Delete" class="btn btn-danger">
	  	</li>
	  </ul>
  </form>
  {{docs.id}}
{% endblock %}